
\.theos/_/DEBIAN/control

\.theos/_/Library/MobileSubstrate/DynamicLibraries/ClearMessageTop\.dylib

\.theos/_/Library/MobileSubstrate/DynamicLibraries/ClearMessageTop\.plist

\.theos/build_session

\.theos/fakeroot

\.theos/last_package

\.theos/obj/debug/\.stamp

\.theos/obj/debug/arm64/ClearMessageTop\.dylib

\.theos/obj/debug/arm64/ClearMessageTop\.dylib\.dSYM/Contents/Info\.plist

\.theos/obj/debug/arm64/ClearMessageTop\.dylib\.dSYM/Contents/Resources/DWARF/ClearMessageTop\.dylib

\.theos/obj/debug/arm64/Tweak\.xm\.12ea761e\.o

\.theos/obj/debug/armv7/ClearMessageTop\.dylib

\.theos/obj/debug/armv7/ClearMessageTop\.dylib\.dSYM/Contents/Info\.plist

\.theos/obj/debug/armv7/ClearMessageTop\.dylib\.dSYM/Contents/Resources/DWARF/ClearMessageTop\.dylib

\.theos/obj/debug/armv7/Tweak\.xm\.cf24df5a\.o

\.theos/obj/debug/ClearMessageTop\.dylib

\.theos/packages/com\.midnightchips\.fullscreenimessage-0\.0\.3

packages/com\.midnightchips\.fullscreenimessage_0\.0\.3-1\+debug_iphoneos-arm\.deb

\.DS_Store
